.h1-form {
  font-family: "Lemon", sans-serif;
}

/* Fuentes */
@font-face {
  font-family: "Lemon";
  src: url("../src/assets/fonts/SNOW\ BLUE.ttfmon.ttf") format("truetype");
}

@font-face {
  font-family: "Punk";
  src: url("../src/fonts/Helvetica\ Punk.ttf") format("truetype");
}

@font-face {
  font-family: "Panic";
  src: url("../src/fonts/Panic.ttf") format("truetype");
}

@font-face {
  font-family: "Snow";
  src: url("../src/assets/fonts/SNOW\ BLUE.ttf") format("truetype");
}

@font-face {
  font-family: "Katana";
  src: url("../src/fonts/KATANA.ttf") format("truetype");
}

@font-face {
  font-family: "Blueberry";
  src: url("../src/fonts/Blueberry\ .ttf") format("truetype");
}

@font-face {
  font-family: "Cheeky";
  src: url("../src/fonts/Cheeky\ Rabbit.ttf") format("truetype");
}

@font-face {
  font-family: "Poestry";
  src: url("../src/fonts/Dark\ Poestry.ttf") format("truetype");
}

@font-face {
  font-family: "NewYear";
  src: url("../src/fonts/New\ Year.otf") format("truetype");
}

@font-face {
  font-family: "NewSun";
  src: url("../src/fonts/Next\ Sunday.otf") format("truetype");
}

@font-face {
  font-family: "Wigg";
  src: url("../src/fonts/Wigglye.ttf") format("truetype");
}

body {
  font-family: "Poppins", sans-serif;
}

.txt {
  font-family: "NewSun", sans-serif;
}
/* Ajusta esto según la altura real de tu navbar */
.main-content {
  padding-top: 100px;
}
